.features-title{
    text-align: center;

}
.features-title h1 {
    display: inline;
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid yellow;
}

.features-title h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
  
.feature {
    background-color: rgba(16, 22, 36,0.7);
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(255, 255, 0, 0.3); */
    box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.5);

    border-radius: 10px;
    height: 30vh;
    transition: transform 0.3s ease;
}
.feature-details{
    margin: auto;
    margin-top: 0;
}
.feature-1{
    width :50%;
}
.feature-2{
    width :40%;
}
  
  .feature:hover {
    transform: translateY(-10px);
  }
  
  .feature img {
    max-width: 80px;
    margin-bottom: 20px;
  }
  
  .feature h3 {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .feature p {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .features {
      flex-direction: column;
    }
  
    .feature {
      margin: 20px 0;
    }
    .feature-1{
        width :90%;
    }
    .feature-2{
        width :90%;
    }
  }
  