
@import url("https://fonts.googleapis.com/css?family=Sanchez");

  .container-loading *,
  .container-loading *:after,
  .container-loading *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
  .loading-bitcoin {
    --face: #ffd9b3;
    --sign: #c49a44;
    --circle: #c49a44;
    --side: #dbb765;
    --slide: #c49a44;
  }
  
  .loading-wrapper {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .container-loading {
    width: 10em;
    height: 10em;
    position: relative;
    perspective: 300px;
    box-shadow: 0 11em 3em -2em rgba(0, 0, 0, 0.2);
    margin: 2em;
    transform: translateZ(-0.4em);
  }
  
  .loading-coin {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .loading-bitcoin {
    -webkit-animation: spinYen 24s -5s linear infinite;
            animation: spinYen 24s -7s linear infinite;
  }
  
  .loading-face {
    border-radius: 5em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: var(--face);
  }
  
  .loading-front {
    transform: translate3d(0, 0, 0.4em) rotateY(0);
  }
  
  .loading-back {
    transform: rotateY(180deg) translate3d(0, 0, 0.4em);
  }
  
  .loading-symbol {
    position: absolute;
    color: var(--sign);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-family: Sanchez, sans-serif;
  }
  
  .loading-euro .loading-symbol {
    padding-right: 0.1em;
  }
  
  .loading-circle {
    border-radius: 5em;
    border: 0.35em dashed var(--circle);
    width: 8em;
    height: 8em;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  .loading-side {
    width: 0.8em;
    height: 1.61em;
    background: var(--side);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-top: 0.2em solid var(--slide);
    border-bottom: 0.2em solid var(--slide);
  }
  
  figure:nth-of-type(1) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(0deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(2) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(18deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(3) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(36deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(4) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(54deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(5) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(72deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(6) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(90deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(7) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(108deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(8) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(126deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(9) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(144deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(10) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(162deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(11) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(180deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(12) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(198deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(13) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(216deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(14) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(234deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(15) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(252deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(16) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(270deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(17) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(288deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(18) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(306deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(19) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(324deg) translateZ(4.9em);
  }
  
  figure:nth-of-type(20) {
    transform: translate3d(-50%, -50%, 0) rotateY(90deg) rotateX(342deg) translateZ(4.9em);
  }
  
  @-webkit-keyframes spinYen {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(-1800deg) rotateZ(180deg);
    }
    100% {
      transform: rotateX(0deg) rotateY(-3600deg) rotateZ(0deg);
    }
  }
  @keyframes spinYen {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
      transform: rotateX(45deg) rotateY(-1800deg) rotateZ(180deg);
    }
    100% {
      transform: rotateX(0deg) rotateY(-3600deg) rotateZ(0deg);
    }
  }