.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-bottom: 0px;
    background-color: #0c101b;
    color: #fff;
    font-size: 16px;
    z-index: 3;
  }
  
  .footer-left {
    z-index: 3;
    display: flex;
    align-items: center;
  }
  .footer-left p{
    margin-bottom: 0;
  }
  
  .footer-logo {
    height: 50px;
    margin-right: 10px;
  }
  
  .footer-middle {
    text-align: center;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    color:rgb(4, 131, 182)
  }
  
  .social-icons a:hover {
    box-shadow: 0px 6px 6px rgba(255, 193, 7, 0.5);
    transform: translateY(-2px);
  }
  .footer-copyright p{
    text-align: center;
    background-color: #0c101b;
    margin: 0 0;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 767px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-left,
    .footer-right {
      margin-bottom: 20px;
    }
  }
  